@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Category</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Suppliers" asp-action="Index">Supplier</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Order</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Index">Customer</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Sales" asp-action="Index">Sales</a>
        </li>

        </ul>
   </div>
</nav> *@





<ul class="list-group">
    <li class="list-group-item active" aria-current="true" >
        <a class="link-dark link-offset-2 link-underline link-underline-opacity-0" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="list-group-item" >
        <a class="link-dark link-offset-2 link-underline link-underline-opacity-0" asp-area=" " asp-controller="Home" asp-action="Privacy">Privacy</a>

    </li>
    <li class="list-group-item link-dark" >
        <a class="link-dark link-offset-2 link-underline link-underline-opacity-0" asp-area="" asp-controller="Products" asp-action="Index">Product</a>
    </li>
    <li class="list-group-item link-dark">
        <a class="link-dark link-offset-2 link-underline link-underline-opacity-0" asp-area="" asp-controller="Categories" asp-action="Index">Category</a>
    </li>
    <li class="list-group-item link-dark" >
        <a class="link-dark link-offset-2 link-underline link-underline-opacity-0" asp-area="" asp-controller="Suppliers" asp-action="Index">Supplier</a>
    </li>
    <li class="list-group-item link-dark" >
        <a class="link-dark link-offset-2 link-underline link-underline-opacity-0" asp-area="" asp-controller="Orders" asp-action="Index">Order</a>
    </li>
    <li class="list-group-item link-dark" >
        <a class="link-dark link-offset-2 link-underline link-underline-opacity-0" asp-area="" asp-controller="Customers" asp-action="Index">Customer</a>
    </li>
    <li class="list-group-item link-dark">
        <a class="link-dark link-offset-2 link-underline link-underline-opacity-0" asp-area="" asp-controller="Sales" asp-action="Index">Sales</a>
    </li>
     
</ul>