@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="img-fluid" src="https://images.unsplash.com/photo-1616401784845-180882ba9ba8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8aW52ZW50b3J5JTIwbWFuYWdlbWVudCUyMHN5c3RlbXxlbnwwfHwwfHx8MA%3D%3D" alt="..." />
    <h1 class="display-4 text-dark fw-bold">Inventory Management System</h1>
   
</div>
